# TASK 6.1.
## 1. Import libraries and dataset
## 2. Data clean-up, wrangling and consistency checks
## 3. Basic descriptive statistical analysis
## 4. Export clean dataset

---

## 1. Import libraries and dataset

In [5]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [7]:
# Create path
path = r'/Users/mariliamachado/Documents/CareerFoundry/Data Immersion/Achievement 6'

In [9]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'Berlin_crimes.csv'))

## 2. Data clean-up, wrangling and consistency checks

In [11]:
df.head()

,Year,District,Code,Location,Robbery,Street_robbery,Injury,Agg_assault,Threat,Theft,Car,From_car,Bike,Burglary,Fire,Arson,Damage,Graffiti,Drugs,Local
0,2012,Mitte,10111,Tiergarten Süd,70,46,586,194,118,2263,18,328,120,68,16,4,273,26,171,1032
1,2012,Mitte,10112,Regierungsviertel,65,29,474,123,142,3203,10,307,170,37,10,4,380,124,98,870
2,2012,Mitte,10113,Alexanderplatz,242,136,1541,454,304,8988,81,792,822,275,49,27,1538,522,435,3108
3,2012,Mitte,10114,Brunnenstraße Süd,52,25,254,60,66,1916,86,192,396,131,14,5,428,122,213,752
4,2012,Mitte,10221,Moabit West,130,51,629,185,199,2470,94,410,325,161,42,22,516,64,259,1403

In [13]:
# Drop Code column
df = df.drop(columns = ['Code'])
df.head()

,Year,District,Location,Robbery,Street_robbery,Injury,Agg_assault,Threat,Theft,Car,From_car,Bike,Burglary,Fire,Arson,Damage,Graffiti,Drugs,Local
0,2012,Mitte,Tiergarten Süd,70,46,586,194,118,2263,18,328,120,68,16,4,273,26,171,1032
1,2012,Mitte,Regierungsviertel,65,29,474,123,142,3203,10,307,170,37,10,4,380,124,98,870
2,2012,Mitte,Alexanderplatz,242,136,1541,454,304,8988,81,792,822,275,49,27,1538,522,435,3108
3,2012,Mitte,Brunnenstraße Süd,52,25,254,60,66,1916,86,192,396,131,14,5,428,122,213,752
4,2012,Mitte,Moabit West,130,51,629,185,199,2470,94,410,325,161,42,22,516,64,259,1403

In [15]:
# Check missing values
df.isnull().sum()

Year              0
District          0
Location          0
Robbery           0
Street_robbery    0
Injury            0
Agg_assault       0
Threat            0
Theft             0
Car               0
From_car          0
Bike              0
Burglary          0
Fire              0
Arson             0
Damage            0
Graffiti          0
Drugs             0
Local             0
dtype: int64

In [42]:
# Change confusing column names
df.rename(columns = {'Car' : 'Car_theft',
                    'From_car' : 'Car_burglary',
                    'Bike_burglary' : 'Bike_theft',
                    'Drugs' : 'Drugs_possession',
                     'Local' : 'Antisocial_behavior'}, inplace = True)

In [44]:
df.head()

,Year,District,Location,Robbery,Street_robbery,Injury,Agg_assault,Threat,Theft,Car_theft,Car_burglary,Bike_theft,Burglary,Fire,Arson,Damage,Graffiti,Drugs_possession,Antisocial_behavior
0,2012,Mitte,Tiergarten Süd,70,46,586,194,118,2263,18,328,120,68,16,4,273,26,171,1032
1,2012,Mitte,Regierungsviertel,65,29,474,123,142,3203,10,307,170,37,10,4,380,124,98,870
2,2012,Mitte,Alexanderplatz,242,136,1541,454,304,8988,81,792,822,275,49,27,1538,522,435,3108
3,2012,Mitte,Brunnenstraße Süd,52,25,254,60,66,1916,86,192,396,131,14,5,428,122,213,752
4,2012,Mitte,Moabit West,130,51,629,185,199,2470,94,410,325,161,42,22,516,64,259,1403

In [46]:
# Check data types and general info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 1200 non-null   int64
 1   District             1200 non-null   object
 2   Location             1200 non-null   object
 3   Robbery              1200 non-null   int64
 4   Street_robbery       1200 non-null   int64
 5   Injury               1200 non-null   int64
 6   Agg_assault          1200 non-null   int64
 7   Threat               1200 non-null   int64
 8   Theft                1200 non-null   int64
 9   Car_theft            1200 non-null   int64
 10  Car_burglary         1200 non-null   int64
 11  Bike_theft           1200 non-null   int64
 12  Burglary             1200 non-null   int64
 13  Fire                 1200 non-null   int64
 14  Arson                1200 non-null   int64
 15  Damage               1200 non-null   int64
 16  Graffiti             1200 non-null   int64
 17  Drugs_possession     1200 non-null   int64
 18  Antisocial_behavior  1200 non-null   int64
dtypes: int64(17), object(2)
memory usage: 178.3+ KB

In [48]:
# Find duplicates
df_dups = df[df.duplicated()]
df_dups

Empty DataFrame
Columns: [Year, District, Location, Robbery, Street_robbery, Injury, Agg_assault, Threat, Theft, Car_theft, Car_burglary, Bike_theft, Burglary, Fire, Arson, Damage, Graffiti, Drugs_possession, Antisocial_behavior]
Index: []

## 3. Basic descriptive statistical analysis

In [50]:
df.describe()

,Year,Robbery,Street_robbery,Injury,Agg_assault,Threat,Theft,Car_theft,Car_burglary,Bike_theft,Burglary,Fire,Arson,Damage,Graffiti,Drugs_possession,Antisocial_behavior
count,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.00000,1200.000000,1200.000000,1200.000000
mean,2015.500000,34.233333,18.744167,276.334167,68.750000,92.583333,1492.307500,42.505833,215.275000,197.706667,69.489167,15.990833,6.281667,281.58250,62.884167,97.859167,662.415833
std,2.292243,37.093447,22.171153,243.697780,71.113959,68.455264,1364.442501,28.710164,150.031343,178.704771,57.866415,12.681934,5.186014,203.01033,62.292705,174.802343,534.787220
min,2012.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,10.000000
25%,2013.750000,10.000000,5.000000,108.000000,22.000000,42.000000,639.750000,22.000000,109.000000,76.000000,28.000000,7.000000,3.000000,133.00000,20.000000,18.000000,269.250000
50%,2015.500000,22.000000,11.000000,204.500000,44.000000,75.000000,1100.000000,37.000000,186.000000,143.000000,59.000000,13.000000,5.000000,244.00000,45.000000,40.000000,553.500000
75%,2017.250000,42.000000,23.000000,361.000000,86.000000,124.000000,2019.750000,57.000000,291.000000,286.000000,96.000000,22.000000,9.000000,382.00000,87.000000,86.000000,870.250000
max,2019.000000,242.000000,169.000000,1966.000000,500.000000,420.000000,12479.000000,197.000000,876.000000,1288.000000,446.000000,74.000000,31.000000,1538.00000,530.000000,1949.000000,3813.000000

## 4. Export clean dataset

In [52]:
# Export clean dataset
df.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Berlin_crimes_clean.csv'))